* {
    box-sizing: border-box;
   
}

body{
    background-color: #626eb4;
}

/* Large Devices */
@media (min-width: 992px) {

    .col-lg-4 {
        float:left;
        width: 33.33%;
    }

   
}

/* Medium Devices */
@media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
        float: left;
        width: 50%;

    }

    .col-md-12 {
        float: left;
        width: 100%;
    }
}

/* Small Devices */
@media (max-width: 767px) {

    
    .col-sm-12 {
        float: left;
        width: 100%;
    }

}
h1{
    display: block;
    margin: auto;
    width: fit-content;
    margin-bottom: 35px;
    margin-top: 35px;

    
}
.outer-Box{
    border: 2px solid black;
    height: 250px;
    position: relative;
    margin: 10px 10px;
}
.inner-box{
    float: right;
    border-width: 0px 0px 2px 2px;
    border-color: black;
    border-style: solid;
    width: 30%;
    text-align: center;
    height: auto;
    overflow: hidden;

}
p{
    font-size: 18px;
    padding: 63px 10px 0px 10px

}
#box1{
    background-color: lightcoral;
}
#box2{
    background-color: lightgreen;
}
#box3{
    background-color: lightyellow;
}